.dessert-image-container{
    z-index: 0;
    display: inline-block;
    position: relative;
}

.expand-button{
    padding: 5px;
    z-index: 1;
    position: absolute;
    width: 40px;
    border: solid 1px black;
    bottom: 20px;
    right: 20px;
    background: rgba(255,255,255,50%);
}
